<div class="container-fiuld room-posts">
  <h4 class="pb-4">登録済みルーム一覧</h4>
  <table>
    <thead>
      <tr align="senter">
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>料金</th>
        <th>作成日</th>
      </tr>
    </thead>
    <tbody>
      <% @room.each do |room| %>
        <tr>
          <td><%= link_to room_path(room) do %>
            <%= image_tag room.image.url, class: "room-posts-image" %>
          <% end %></td>
          <td class="posts-name"><%= link_to room.room_name, room_path(room) %></td>
          <td class="posts-content"><%= room.room_text %></td>
          <td class="price-icon"><%= room.price %></td>
          <td><%= room.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
