<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>宿泊予約サービスアプリ</title>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-left-nav">
          <%= link_to root_path do %>
            <img src="/assets/logo.png" alt="サイトのロゴ画像">
          <% end %>
          <%= form_with url: search_rooms_path, local: true, method: :get do |f| %>
            <div class="header-sharch d-lg-inline-block">
              <%= f.text_field :address, class:"form-control", placeholder: "エリア" %>
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="header-sharch d-lg-inline-block">
              <%= f.text_field :room_text, class:"form-control", placeholder: "キーワード" %>
              <i class="fas fa-search"></i>
            </div>
            <%= f.submit "探す", class: "d-none" %>
          <% end %>
        </div>
        <div class="header-right-nav">
          <div class="nav-item d-sm-inline-block d-none">
            <% if user_signed_in? %>
              <%= current_user.username %>
            <% end %>
          </div>
          <div class="nav-item">
            <% if user_signed_in? %>
              <% if current_user.image? %>
                <%= image_tag current_user.image.thumb.url, alt: "プロフィール画像", onclick:"js_event()", class: "mx-3 p-1 host-icon nav-trigger"%>
              <% else %>
                <%= image_tag "logo.jpeg", alt: "プロフィール画像", onclick:"js_event()", class: "mx-3 p-1 host-icon nav-trigger"%>
              <% end %>

              <ul class="header-nav-menu" id="click">
                <li><%= link_to "ルーム登録", :new_room %></li>
                <li><%= link_to "予約済みルーム一覧", :reservations %></li>
                <li><%= link_to "登録済みルーム一覧", :posts_rooms %></li>
                <li><%= link_to "設定", :account_users %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
              </ul>
            <% else %>
              <%= link_to "ログイン", new_user_session_path, class:"btn btn-primary my-2 mx-3" %>
              <%= link_to "登録する", new_user_registration_path, class:"btn btn-secondary" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <% if flash[:notice] %>
      <div class="notification">
        <p class="notice"><%= notice %></p>
      </div>
    <% elsif flash[:alert] %>
      <div class="notification">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
    <%= yield %>

    <footer class="footer">
      <p>© 2020 POTEPAN.INC.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fb58181adb.js" crossorigin="anonymous"></script>

  </body>
</html>
